.title {
    font-size: 3em;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.text{
    font-size: 1.2em;
    line-height: 1.6;
    color: #212121;
    max-width: 800px;
}

.Topics {
    display: inline-block;
    background-color: rgb(191, 191, 191);
    color: rgb(0, 0, 0);
    padding: 6px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.35);
    font-size: 2rem;
}

.Final {
    font-size: 1.5em;
    color: #333;
    margin: 40px 0;
    text-align: center;
}